@charset "utf-8";
@import "compass";
@import "import/_mixin.scss";
@import "import/_reset.scss";

/* --------------------------------------------

	FileName	:	style.css

-------------------------------------------- */

.sample2 {
	color: blue;
	.test{
		color: red;
		@at-root {
			#{&}-test {
				color: red;
			}
		}
	}
	@at-root {
		#{&}-test {
			color: red;
		}
	}
}

html{
	background: #eee;
}

body{
	width: 100%;
	margin: 0 auto;
	font: 81.25%/1.65 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', '游ゴシック体', 'Yu Gothic', 'YuGothic' , Meiryo, メイリオ,　Arial, 'Helvetica Neue',  sans-serif;
}

section{
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 15px;
	background: #fff;
	position:fixed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
//	font-family: "Sawarabi Mincho",'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','游ゴシック体','Yu Gothic','YuGothic',Meiryo,メイリオ,Arial,'Helvetica Neue',sans-serif;
	@include clearfix;
}

section h2,
section p{
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	float: right;
}

section h1{
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}

canvas{
	position: absolute;
	left: 0;
	top: 0;
}

svg{
	position: absolute;
	left: 0;
	top: 0;
}

.path{	/*ストロークの色や太さ*/
	stroke:#222;
	fill:#fff;
	stroke-width:1;
	/*破線*/
	stroke-DASHarray: 3000;
	stroke-DASHoffset:3000;
	/*アニメーション*/
	-moz-animation:DASH 2s ease-in-out .5s forwards;
	-webkit-animation:DASH 2s ease-in-out .5s forwards;
	-o-animation:DASH 2s ease-in-out .5s forwards;
	animation:DASH 2s ease-in-out .5s forwards;
	-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;	
}

@keyframes DASH{
	0%  {stroke-DASHoffset:3000;fill:#fff;}
	80% {stroke-DASHoffset:2000;fill:#fff;}
	100%{stroke-DASHoffset:0;fill:#222;}
}

@-moz-keyframes DASH{
	0%  {stroke-DASHoffset:3000;fill:#fff;}
	80% {stroke-DASHoffset:2000;fill:#fff;}
	100%{stroke-DASHoffset:0;fill:#222;}
}

@-webkit-keyframes DASH{
	0%  {stroke-DASHoffset:3000;fill:#fff;}
	80% {stroke-DASHoffset:2000;fill:#fff;}
	100%{stroke-DASHoffset:0;fill:#222;}
}

@-o-keyframes DASH{
	0%  {stroke-DASHoffset:3000;fill:#fff;}
	80% {stroke-DASHoffset:2000;fill:#fff;}
	100%{stroke-DASHoffset:0;fill:#222;}
}

@-ms-keyframes DASH{
	0%  {stroke-DASHoffset:3000;fill:#fff;}
	80% {stroke-DASHoffset:2000;fill:#fff;}
	100%{stroke-DASHoffset:0;fill:#222;}
}








