/* reset style (html5 set)
-------------------------------------------------------------------- */
article,section,header,footer,nav,menu,aside,figure,figcaption,main{ 
display:block;
padding:0;
margin:0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}

table{
border-collapse:collapse;
border-spacing:0;
}

fieldset,img{ 
border:0;
}

img{
vertical-align:top;
}

address,caption,cite,code,dfn,em,strong,th,var,u {
font-style:normal;
font-weight:normal;
text-decoration:none;
}

a{
outline:0;
vertical-align:baseline;
}

a > *{
cursor:pointer;
}

ol,ul{
list-style:none;
}

caption,th{
text-align:left;
}

h1,h2,h3,h4,h5,h6{
font-size:100%;
font-weight:normal;
}

q:before,q:after{
content:'';
}

abbr,acronym {
border:0;
}


.blankIcon {
vertical-align: 0;
margin: 0 0 0 2px;
}

img.iconNew,
img.addIcon {
vertical-align:middle;
}

span.anchorIn,
span.anchorIn strong {
text-decoration: underline;
vertical-align: baseline;
}

.newsList span.anchorIn,
.newsList span.anchorIn strong {
text-decoration: none;
}
.newsList a:hover span.anchorIn,
.newsList a:hover span.anchorIn strong {
text-decoration: underline;
}

#sub span.anchorIn,
footer span.anchorIn{
text-decoration:none;
}

